$font-xs: 10px;
$font-sm: 12px;
$font-base: 14px;
$font-md: 18px;
$font-lg: 25px;
$font-xl: 40px;

/*===COLORS===*/
	
	$black: #3f3f3f;
	$black-alt: #424242;
	$black-light: #535353;

	$grey: #888888;
	$grey-light: #b8b8b8;
	$grey-lighter: #e1e1e1;

	$white: #fff;

	$teal: #43bfa9;