@import 'variables';
@import 'functions';

img {
	max-width: 100%;
	height: auto;
}

ul,h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.top-header{
	width: 100%;
	min-height: 40px;
	line-height: 40px;
	background: #383838;
	color: #a9a9a9;
	ul li a{
		padding: 0 20px;
		text-decoration: none;
		color: #a9a9a9;
		border-right: 1px solid #424242;
		:last-child{
			border: none;
			padding-right: 0px;
		}
	}
}

.bt-header{
	min-height: 120px;
	line-height: 120px;
	border-bottom: 1px solid #ccc
}

.cart span{
	padding: 10px;
	background: #40bea7
}

.menu{
	line-height: 34px;
	background: #fbfbfb;
	.category{
		background: #40bea7;
		white-space: nowrap;
		a{
			display: inline-block;
		}
		h4{
			display: inline-block;
			font-size: 1em;
			padding: 6% 10%;
		}
	}
	.menu1 ul li a {
		color: #636363;
		padding: 0.5em 1em;	
	}

	.menu1 ul li:last-child {
		display: none;
	}

	@include responsive(xl){
		.menu1 ul li:last-child {
			display: inline-block;
		}
	}
}

.cart-shop{
	.icon{
		background: #40bea7;

	}
}

.slide{
	.item{
		position: relative;
		.item1{
			position: absolute;
			bottom: 15%;
			.content{
				width: 100%;
				height: auto;
				h3{
					text-transform: uppercase;
					padding: 3% 0;
				}
				p{
					padding: 3% 0;
				}
			}
		}
	}
}

main{
	.top-rated{
		ul {
			li {
				a {
					text-decoration: none;
					img {
						float: left;
					}

					h6{
						color: #ccc;
					}
				}
			}
		}
	}
}

.banner-aside{
	padding: 2rem 0;
}

.widget{
	.testimoals{
		p{
			font-size: 14px;
		}
		span{
			color: #ccc;
		}
		a{
			padding: 8px;
		color: #000;

		}
	}
}

.widget-our-brands{
	padding: 2rem 0;

	.img-our-brands{
		padding: 1rem 0;
	}

	> div a{
		padding: 8px;
		color: #000;

	}
}

section {
	position: relative;
	.option{
		ul{
			li{
				padding: 0 1rem;
				a{
					text-transform: uppercase;
					color: #ccc;

				}

			}
		}
	}
	#prev{
		position: absolute;
		top: 10px;
		left: 8px;
	}
	#next{
		position: absolute;
		top: 10px;
		right: 8px;
	}
}

.nav-item{
	position: relative;
	.nav-link-active{
		color: #000;
		font-weight: bold;
	}
	&:after{
		 content: "";
	    display: block;
	    border-right: 1px solid #ccc;
	    height: 15px;
	    position: absolute;
	    right: 0;
	    top: 0;
	    bottom: 0;
	    margin: auto;
	}
	&:last-child{

		&:after{
			display: none;
		}
	}
}

.line{
		margin-top: 2px;
		height: 10px;
		border-bottom: 1px solid #ccc;
	&__tamgiac {
		margin: auto;
		width: 0;
		height: 0;
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		border-bottom: 10px solid #ccc;
	}

}

.product{
	margin-top: 20px;
	&__item{
		h6{
			margin-top: 15px;
			color: #ccc;
		}
	}
	&__sale{
		position: relative;
		&__new{
			position: absolute;
			top: 0;
			left: 0;
			padding: 0 .5rem;
			color: #fff;
			background: #f23434
		}
	}
}

article{
	.line{
		margin-top: 1rem;
	}
	.product__article{
		position: relative;
		h6{
			color: #ccc;
			padding: .7rem 0;
		}
		p{
			padding: .5rem 0;
		}
		&__new{
			position: absolute;
			padding: 0 .5rem;
			top: 0;
			left: 0;
			color: #fff;
			background: #f23434
		}
	}
	.list__article{
		position: relative;
		&__sale{
			position: absolute;
			padding: 0 .4rem;
			top: 0;
			left: 0;
			color: #fff;
		}
	}
}

.formbanner{
	margin-top: 30px;

	min-height: 233px;
	background-size: cover;
	background-image: url('../images/form-banner.jpg');
	form{
		display: flex;
		justify-content: center;

		input[type=text]{
			width: 50%;
		}
	}
}

.line{
	margin-top: 2px;
	height: 10px;
	border-bottom: 1px solid #ccc;
	&__tamgiac {
		margin: auto;
		width: 0;
		height: 0;
		border-left: 9px solid transparent;
		border-right: 9px solid transparent;
		border-bottom: 9px solid #e1e1e1;
	}
}

@import 'trung'